[//]: # (The README.md is produced automatically by nbpages. Edit templates/README.md.jinja.)
# {% include 'page_title.txt' %}

{% include 'page_title.txt' %} provides a Python toolset for managing a github repository of Jupyter notebooks.
It was inspired by the tools included with the
[Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook) by
[Jake Vanderplas](https://github.com/jakevdp).

{% for line in readme_toc %}
{{ line }}
{% endfor %}

## Dependencies

* [notedown](https://github.com/aaren/notedown)


