
*This notebook contains material from [{% include 'page_title.txt' %}]({% include 'page_url.txt' %})
by Jeffrey Kantor (jeff at nd.edu); the content is available [on Github]({% include 'repository_url.jinja' %}).
The text is released under the [CC-BY-NC-ND-4.0 license](https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode),
and code is released under the [MIT license](https://opensource.org/licenses/MIT).*
