[//]: # (README.md is produced automatically by nbcollection. Edit templates/README.md.jinja instead.)
# {% include 'page_title.txt' %}

{% include 'page_title.txt' %} is a tool for managing a repository of Jupyter notebooks that comprise a book,
course, or other form of large project. It was inspired by the tools included with the
[Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook) by
[Jake Vanderplas](https://github.com/jakevdp).

## Dependencies

* [notedown](https://github.com/aaren/notedown)

## Notebook Repository Layout

    My-Amazing-Course/
    |
    |--- notebooks/
    |.   |--- figures/
    |    |--- 00.00-Preface.ipyb
    |    |--- 01.00-My-First-Chapter.ipynb
    |    |--- 01.01-My-First-Chapter-First-Section.ipynb
    |    |--- A.00-My-Appendix.ipynb
    |
    |--- _config.yml
    |--- .gitignore
    |--- LICENSE-code.txt
    |--- LICENSE-text.txt
    |--- README.md
    |--- templates/
         |--- nbviewer_url.txt          # nbviewer viewer base url
         |--- notebook_header.txt
         |--- page_title.txt
         |--- page_url.txt
         |--- README.md.jinja
         |--- repository.txt
         |--- repository_url.txt

{% for line in readme_toc %}
{{ line }}
{% endfor %}
