
[//]: # (The README.md is produced automatically by nbpages. Make changes by edittin templates/README.md.jinja.)
# {{ page_title }}

{{ page_title }} provides a Python toolset for managing a github repository of Jupyter notebooks. The project was
inspired by the tools included with the
[Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook) by
[Jake Vanderplas](https://github.com/jakevdp).

{% for line in readme_toc %}
{{ line }}
{% endfor %}
